.HeaderStyle {
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 90px;
    border-bottom: 1px black;
    padding: 1px;
    padding-right: 15px;
    margin-top: -8px;
    margin-left: -8px;
    box-shadow: 0 0 15px black;
    position: fixed;
    display: inline-flex;
    z-index: 2;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.315);
}

.Blur-Background-Effect {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(16px);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 1px;
    padding-right: 15px;
    margin-top: -8px;
    margin-left: -8px;
}

.TitleStyle {
    color: white;
    font-family: "Major Mono Display", sans-serif;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 40px;
    display: inline-flex;
}

#HRvertical {
    width: 40px;
    height: 60px;
    margin-left: 50px;
    position: relative;
    display: inline-flex;
}

#PAPERstyle {
    background-color: white;
    height: 40px;
    color: black;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    border-left: 5px solid white;
}

.LINKBUTTONstyle {
    background-color: white;
    color: black;
    width: 107px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    outline: 5px solid white;
    text-align: center;
    font-size: 25px;
    font-family: "Zalando Sans Expanded", sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-top: 22px;
    margin-left: 50px;
    padding-left: 22px;
    transition: ease 0.12s, font-weight 0.26s, outline-width 0.02s;
    display: inline-flex;
    scale: calc(0.7);
}

.LINKBUTTONstyle:hover {
    outline-width: 11px;
    outline-style: double;
    color: white;
    background-color: black;
    border-radius: 2px;
}

.LINKBUTTONstyle:active {
    background-color: white;
    color: black;
    outline-width: 2px;
}

#body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#line-style-top {
    width: 2px;
    height: 52px;
    position: absolute;
    background-color: white;
    margin-top: 22px;
    margin-left: 18.5px;
}

#icongithub {
    margin-left: 40px;
    margin-top: 35px;
    position: absolute;
}

.AIRE {
    width: 100%;
    height: 83px;
    padding: 1px;
    padding-right: 15px;
    margin-top: -8px;
    margin-left: -8px;
}

.title-se-top {
    font-family: "Cal Sans", sans-serif;
    letter-spacing: 2px;
    font-size: 45px;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.Box-Producto {
    background-color: white;
    width: 50%;
    height: 940px;
    margin: 30px;
    cursor: pointer;
    transition: all 0.22s ease-in-out;
}

.Box-Producto:hover {
    scale: calc(0.98);
}

.image-producto {
    background-image: linear-gradient(-52deg, #011f33, #e6e6e6);
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.425) inset;
    padding: 20px;
}

.centralizador-images {
    margin: 0 auto;
    width: 610px;
}

.desc-p-div {
    font-size: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.Reseña-p {
    font-size: 20px;
    margin-top: 10px;
}

.Reseña {
    display: inline-flex;
    margin-left: 50px;
}

.button-comprar-novedades {
    background-color: #00000000;
    outline: #0071E3 solid 1px;
    font-weight: bolder;
    color: #0071E3;
    border-radius: 25px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all ease 0.22s;
    margin-left: 120px;
    margin-top: 10px;
    height: 31px;
    scale: calc(1.7);
}

.button-comprar-novedades:hover {
    background-color: #0071E3;
    outline: transparent solid 1px;
    color: white;
    font-weight: normal;
}

.button-comprar-novedades:active {
    background-color: #00000000;
    outline: #0071E3 solid 1px;
    color: #0071E3;
    scale: calc(0.95);
}

.preci-novedades-div {
    font-weight: lighter;
    font-family: "Cal Sans", fantasy;
    margin-top: 60px;
    margin-left: 320px;
}

#display-horizontal-vendidos-div {
    width: 100%;
    height: 100%;
    display: inline-flex;
}